{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="text-center my-5">
    <h1>About</h1>
    <p class="lead">Selamat datang di Phone Price Prediction, sebuah aplikasi berbasis web yang menggunakan algoritma machine learning untuk menklasifikasi harga smartphone di range tertentu. Dengan menggunakan teknologi canggih, kami dapat memberikan prediksi harga yang akurat dan membantu Anda dalam mencari smartphone sesuai dengan anggaran yang dimiliki. Terima kasih telah menggunakan Phone Price Prediction dan semoga aplikasi kami dapat mempermudah Anda dalam menemukan smartphone yang sesuai dengan kebutuhan dan anggaran Anda.</p>
</div>



<div class="row my-5 text-center">
    <h3 class="mb-4">Contributors</h3>
    <div class="card mx-auto mb-3" style="width: 18rem;">
        <img src="{% static 'img/pp1.jpg' %}" class="card-img-top" style="height: 200px;" alt="...">
        <div class="card-body">
            <h5 class="card-title">Ilham Dean Abdillah</h5>
            <img src="{% static 'img/github.svg' %}" style="width: 2rem;" alt="">
            <p class="card-text">github.com/ilhamDeanAbdillah</p>
        </div>
    </div>
    <div class="card mx-auto mb-3" style="width: 18rem;">
        <img src="{% static 'img/pp3.jpg' %}" class="card-img-top" style="height: 200px;" alt="...">
        <div class="card-body">
            <h5 class="card-title">Farid Rieziq</h5>
            <img src="{% static 'img/github.svg' %}" style="width: 2rem;" alt="">
            <p class="card-text">github.com/FaridRieziq</p>
        </div>
    </div>
    <div class="card mx-auto mb-3" style="width: 18rem;">
        <img src="{% static 'img/pp2.jpg' %}" class="card-img-top" style="height: 200px;" alt="...">
        <div class="card-body">
            <h5 class="card-title">Difa Pradana Prihantoro</h5>
            <img src="{% static 'img/github.svg' %}" style="width: 2rem;" alt="">
            <p class="card-text">github.com/DifaPradana</p>
        </div>
    </div>
</div>
{% endblock content %}
    